<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.madcyph3r.example" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_drawer_icon"
        android:label="@string/app_name"
        tools:replace="android:icon,android:theme"
        android:theme="@style/MaterialNavigationDrawerTheme" >
        <activity
            android:name="de.madcyph3r.example.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.madcyph3r.example.Settings" >
        </activity>
        <activity android:name=".tools.NoHeaderActivity">
        </activity>
        <activity android:name=".tools.OneHeadItem">
        </activity>
        <activity android:name=".tools.ThreeHeadItem">
        </activity>
        <activity android:name=".tools.FiveHeadItem">
        </activity>
        <activity android:name=".tools.HeadItemStartSecSection">
        </activity>
        <activity android:name=".tools.HeadItemAvaterBackgroundClick">
        </activity>
        <activity android:name=".tools.ThreeHeadItemNoCloseDrawer">
        </activity>
        <activity android:name=".tools.TwoHeadItemOneMenu">
        </activity>
        <activity android:name=".tools.OneHeadItemOwnFragment">
        </activity>
        <activity android:name=".tools.TwoHeadItemNoFragementLoadOnChange">
        </activity>
        <activity android:name=".tools.AllMenuTypes">
        </activity>
        <activity android:name=".tools.BackPatternCustom">
        </activity>
        <activity android:name=".tools.BackPatternDefault">
        </activity>
        <activity android:name=".tools.BackPatternStartIndex">
        </activity>
        <activity android:name=".tools.TwoHeadItemRemoveAddNewHeadItem">
        </activity>
        <activity android:name=".tools.FiveHeadItemExtraMenu">
        </activity>
        <activity android:name=".tools.TwoHeadItemExtraMenu">
        </activity>
        <activity android:name=".tools.OneHeadItemOwnDrawerWidth">
        </activity>
        <!-- dark -->
        <activity android:name=".tools.OneHeadItemDark"
            android:theme="@style/MaterialNavigationDrawerTheme" >
        </activity>
        <!-- light -->
        <activity android:name=".tools.OneHeadItemLight"
            android:theme="@style/MaterialNavigationDrawerTheme.Light" >
        </activity>
        <!-- dark -->
        <activity android:name=".tools.OneHeadItemMyTheme"
            android:theme="@style/MyOwnTheme" >
        </activity>
        <activity android:name=".tools.CustomHeaderActivity">
        </activity>
        <activity android:name=".tools.ImageHeaderActivity">
        </activity>
        <activity android:name=".tools.TwoHeadItemChangeListenerDrawerListener">
        </activity>
        <activity android:name=".tools.ClosePreviousActivity">
        </activity>
        <activity android:name=".tools.NoClosePreviousActivity">
        </activity>
        <activity android:name=".SecondActivity">
        </activity>

    </application>

</manifest>